@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* REUSUABLE COMPONENTS */

.row {
    max-width: 1020px;
    margin: auto;
}

.btn {
    color: #fff;
    background: #ff5959;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}

/*==========================================================
    2. Hero Section
==========================================================*/

#hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/donation5.jpg') no-repeat center / cover;
}

.hero-text-box {
    width: 720px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero-text-box h1 {
    font-size: 54px;
}

.hero-text-box p {
    font-size: 18px;
    margin-bottom: 20px;
}

/*==========================================================
    2. Donate Today Section
==========================================================*/

.donate-today {
    text-align: center;
}

.donate-today p {
    color: #b3b3b3;
}

.donate-today .btn {
    margin-top: 20px;
}

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.section-title h2 {
    margin-bottom: 20px;
}

.amount-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.amount {
    color: #707070;
    padding: 20px;
    background: #fafafa;
    border: 2px solid transparent;
    transition: .5s;
}

.amount:hover {
    color: #ff5959;
    background: #ffeeee;
    border: 2px solid #ff5959;
    border-radius: 5px;
}